<div class="navbar" *ngIf="user$ | async as user">
    <button class="profile-photo" (click)="Myprofile()">
        <img [src]="user.photoURL ?? '/assets/images/user-profile.png '" alt="profile-photo">
    </button>
    <div class="profile-name">
        <h3>{{user.userName ?? user.email}}</h3>
        <button class="set-status">Set status</button>
    </div>
    <div class="more-setting">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="Myprofile()">
                <span>Edit Profile</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <span>Sign Out</span>
            </button>

        </mat-menu>
    </div>
</div>