<app-spinner *ngIf="loading" class="form-loading"></app-spinner>
<div class="form-container">
    <div class="close-dailog-box">
        <button mat-flat-button mat-dialog-close color="warn">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-card *ngIf="!editProfile">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <!--  first  name  -->
            <mat-form-field appearance="standard" class="max-100">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName">
                <mat-error *ngIf="f.firstName.touched && f.firstName.errors?.required">Enter Your First Name</mat-error>
                <mat-error *ngIf="f.firstName.errors?.spacesOnly && !f.firstName.errors?.required ">Error: Only spaces
                    are not allowed</mat-error>
                <mat-error *ngIf="f.firstName.errors?.invalidInput">Note: Use letters, numbers, and special
                    characters</mat-error>
                <mat-error *ngIf="f.firstName.errors?.maxlength">Maxium 15 characters</mat-error>
            </mat-form-field>
            <!-- last name  -->
            <mat-form-field appearance="standard" class="max-100">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
                <mat-error *ngIf="f.lastName.touched && f.lastName.errors?.required">Enter Your Last Name</mat-error>
                <mat-error *ngIf="f.lastName.errors?.spacesOnly && !f.lastName.errors?.required ">Error: Only spaces
                    are not allowed</mat-error>
                <mat-error *ngIf="f.lastName.errors?.invalidInput">Note: Use letters, numbers, and special
                    characters</mat-error>
                <mat-error *ngIf="f.lastName.errors?.maxlength">Maxium 15 characters</mat-error>
            </mat-form-field>
            <!-- user name  -->
            <mat-form-field appearance="standard" class="max-100">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="userName">
                <mat-error *ngIf="f.userName.touched && f.userName.errors?.required">Enter Your Name</mat-error>
                <mat-error *ngIf="f.userName.errors?.spacesOnly && !f.userName.errors?.required ">Error: Only spaces
                    are not allowed</mat-error>
                <mat-error *ngIf="f.userName.errors?.invalidInput">Note: Do Not Use special
                    characters</mat-error>
                <mat-error *ngIf="f.userName.errors?.maxlength">Maxium 15 characters</mat-error>
            </mat-form-field>
            <!-- user gender -->
            <mat-radio-group aria-labelledby="example-radio-group-label"
                class="example-radio-group  example-radio-button " formControlName="gender">
                <label id="example-radio-group-label">Gender</label>
                <mat-radio-button *ngFor="let season of seasons" [value]="season" class="ml-16">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>
            <!-- button  -->
            <div class="button-box">
                <button mat-flat-button color="primary" type="submit" class="account-btn">Update</button>
            </div>
        </form>
    </mat-card>

    <mat-card *ngIf="editProfile">

        <div class='profile-img-dailog'>
            <button class="" (click)="inputFiled.click()" *ngIf="user$ | async as user">
                <img [src]="user.photoURL ?? './assets/images/profile-daliog.png'" alt="g" class="myprofile-img">
                <!-- <img src="./assets/images/edit.png" alt="edit-img"> -->
                <mat-icon class="edit-pen">edit</mat-icon>
                <input type="file" hidden #inputFiled (change)="uploadImage($event , user)">
            </button>
        </div>

        <div class="user-deatils" *ngIf="user$ | async as user">
            <p><span>Name</span><span class="user-deatils-data">{{user.firstName}} {{user.lastName}}</span> </p>
            <p><span>UserName</span> <span class="user-deatils-data">{{user.userName}}</span> </p>
            <p><span>Email</span> <span class="user-deatils-data">{{user.email}}</span></p>
            <p><span>Gender</span> <span class="user-deatils-data">{{user.gender}}</span></p>
        </div>
        <div class="edit-my-profile">
            <button mat-flat-button color="primary" (click)="onEditProfile()">Edit Profile</button>
        </div>
    </mat-card>

</div>