<div class="search-list">
    <div class="search-div">
        <mat-form-field appearance="standard" class="max-100">
            <input matInput [formControl]="searchControl" placeholder="user search" [matAutocomplete]="autouser">
            <button mat-button matSuffix mat-icon-button aria-label="Clear"
                (click)="onSearchClear()"><mat-icon>close</mat-icon></button>
        </mat-form-field>
        <mat-autocomplete #autouser="matAutocomplete">
            <mat-option *ngFor="let user of   users$ | async" [value]="user?.userName ?? user?.email"
                (click)="createChat(user)">
                {{user?.userName ?? user?.email}}
            </mat-option>
        </mat-autocomplete>
    </div>
</div>

<div class="chat-list">
    <mat-selection-list [formControl]="chatListControl" [multiple]="false">
        <mat-list-option *ngFor="let user of mychat$ |async " [value]="user.id">
            <button class="user-chat-profile chart-button-list" (click)=" selectUser(user.id)">
                <img [src]="user.chatPic ||'./assets/images/user-profile.png'" alt="profile-img"
                    class="chat-profile-img">
                <div class="chat-user-name">
                    <p class="chat-user-name-heading">{{user.chatName}}</p>
                    <span>{{user.lastMessage | textlength:10}}</span>
                </div>
                <p class="user-list-last-time">
                    {{user.lastMessageDate | dateDisplay}}
                </p>
            </button>
        </mat-list-option>
    </mat-selection-list>
</div>


<!-- <button class="user-chat-profile chart-button-list" *ngIf="selectedChat$ |async as user">
    <img [src]="user.chatPic ??'./assets/images/user-profile.png'" alt="profile-img" class="chat-profile-img">
    <div class="chat-user-name">
        <p class="chat-user-name-heading">{{user.chatName}}</p>
        <span>Active now</span>
    </div>
    <p class="user-list-last-time">
        last
    </p>
</button> -->