<div class="chat-room" *ngIf="cureentUser$  |async as user">
    <div class="chat-room-header">
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="chatClose()"
            class="mobile-view-button">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <button class="user-chat-profile" (click)="update()">
            <!-- <img [src]="user.chatPic ?? './assets/images/user-profile.png'" alt="profile-img" class="chat-profile-img"> -->
            <img [src]="user.chatPic || './assets/images/user-profile.png'" alt="profile-img" class="chat-profile-img">
            <div class="chat-user-name">
                <p class="chat-user-name-heading">{{user.chatName}}</p>
                <span>Active now</span>
            </div>
        </button>

    </div>
    <!-- <div class="text-chat"> -->
    <div class="chat-room-content" *ngIf="authUser$ |async as auth" (scroll)="onScroll($event)">
        <ng-container *ngIf="message$ |async as msg">
            <div *ngFor="let message of Message_data let i=index">
                <div class="chat-span-li">
                    <div class="chat-span-user"
                        [ngClass]="{'chat-span-active-user' : auth.uid==message.senderId ,'chat-span-other-user':auth.uid!==message.senderId }">
                        {{message.text}}
                        <div>{{i+1}}</div>
                        <div class="sentdate">{{message.sentDate | dateDisplay }}</div>
                    </div>

                </div>
            </div>
            <!-- last seen  -->
            <div class="last-seen" *ngIf="lastSeenId!=auth.uid">
                <!-- <span>{{lastSeenId==auth.uid ? auth.userName :user.chatName}}</span> -->
                <img [src]="user.chatPic || './assets/images/user-profile.png'" alt="profile-img"
                    class="chat-profile-img-seen">
                <span>{{user.chatName}}</span>
            </div>
            <div #endOfChat></div>
        </ng-container>
    </div>



    <div class="input-area">
        <mat-form-field appearance="outline" class="max-100">
            <textarea matInput [formControl]="messageControl" placeholder="Enter your message..."
                (keydown.enter)="sendMessage()">
                </textarea>
            <button (click)="toggled = !toggled" [emojiPickerDirection]=" 'top' || 'right'" [(emojiPickerIf)]="toggled"
                matSuffix mat-icon-button (emojiPickerSelect)="handleSelection($event)"><mat-icon>😄</mat-icon></button>
            <button mat-icon-button matSuffix (click)="sendMessage()" type="button">
                <mat-icon>send</mat-icon>
            </button>
        </mat-form-field>

    </div>
</div>
<!-- </div> -->