<div class="chat-room">
    <div class="chat-room-header">
        <button class="user-chat-profile">
            <img src="./assets/images/user-profile.png" alt="profile-img" class="chat-profile-img">
            <div class="chat-user-name">
                <p class="chat-user-name-heading">user_chat_profile name</p>
                <span>Active now</span>
            </div>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
            class="user-chat-search">
            <mat-icon>search</mat-icon>
        </button>

        <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon"
            class="chat-video-call call">
            <mat-icon>videocam</mat-icon>
        </button>
        <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon"
            class="chat-voice-call call">
            <mat-icon>call</mat-icon>
        </button>
    </div>
</div>