<div class="chat-room" *ngIf="cureentUser$  |async as user">
    <div class="chat-room-header">
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="chatClose()"
            class="mobile-view-button">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <button class="user-chat-profile">
            <!-- <img [src]="user.chatPic ?? './assets/images/user-profile.png'" alt="profile-img" class="chat-profile-img"> -->
            <img [src]="user.chatPic || './assets/images/user-profile.png'" alt="profile-img" class="chat-profile-img">
            <div class="chat-user-name">
                <p class="chat-user-name-heading">{{user.chatName}}</p>
                <span>Active now</span>
            </div>
        </button>

    </div>
    <app-spinner class="loader-chat" *ngIf="loading"></app-spinner>
    <!-- <div class="text-chat"> -->
    <div class="chat-room-content" *ngIf="authUser$ |async as auth" (scroll)="onScroll($event)" #midOfChat>
        <ng-container *ngIf="message$ |async as msg">
            <div *ngFor="let message of Message_data let i=index">
                <div class="chat-span-li">
                    <div class="chat-span-user"
                        [ngClass]="{'chat-span-active-user' : auth.uid==message.senderId ,'chat-span-other-user':auth.uid!==message.senderId }">
                        {{message.text}}


                        <ng-container *ngIf="message.file">
                            <!-- <a [href]="fileUrl" download="file" (click)="downloadFile(message.file)">file</a> -->

                            <button type="button" (click)="downloadFile(message.file)">download</button>
                            <img src="#" alt="" id="myimg">
                        </ng-container>

                        <div>=>{{i+1}}</div>
                        <div class="sentdate">{{message.sentDate | dateDisplay }}</div>
                    </div>

                </div>
            </div>
            <!-- last seen  -->
            <div class="last-seen" *ngIf="lastSeenId!=auth.uid">
                <!-- <span>{{lastSeenId==auth.uid ? auth.userName :user.chatName}}</span> -->
                <img [src]="user.chatPic || './assets/images/user-profile.png'" alt="profile-img"
                    class="chat-profile-img-seen">
                <span>{{user.chatName}}</span>
            </div>
            <div #endOfChat></div>
        </ng-container>
    </div>



    <div class="input-area">
        <mat-form-field appearance="outline" class="max-100">



            <button class='upload-file' (click)="inputFiled.click()" mat-icon-button matSuffix class="color-primary">
                <mat-icon class="upload-file">cloud_upload</mat-icon>
                <input type="file" hidden #inputFiled (change)="uploadFile($event)">
            </button>

            <input matInput [formControl]="messageControl" placeholder="Enter your message..."
                (keydown.enter)="sendMessage()">

            <button (click)="toggled = !toggled" [emojiPickerDirection]=" 'top' || 'right'" [(emojiPickerIf)]="toggled"
                matPrefix mat-icon-button (emojiPickerSelect)="handleSelection($event)">😄
            </button>

            <button mat-icon-button matSuffix (click)="sendMessage()" type="button" class="color-primary">
                <mat-icon>send</mat-icon>
            </button>
        </mat-form-field>

    </div>
</div>
<!-- </div> -->