
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$skype-primary: mat.define-palette(mat.$indigo-palette);
$skype-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$skype-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$skype-theme: mat.define-light-theme((
  color: (
    primary: $skype-primary,
    accent: $skype-accent,
    warn: $skype-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($skype-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background: #f1f1f4; }


h1, h2, h3, h4, h5, h6 ,p{ padding: 0 0 0px;margin: 0; }
a{text-decoration: none;}
.input-box{width: 100%;}
.account-page{max-width: 1400px;display: flex;height: 100%;margin: 0 auto;align-items: center;}
.container .mat-flat-button{border-radius: 0px;}
//
.container{max-width: 1400px;margin: 0 auto;}
.account-container{max-width: 440px; margin: 250px auto;width: 100%;padding:16px}
.account-container .mat-card{padding: 44px;}
.account-container .mat-card-subtitle {color: #1b1b1b;}
.account-container .mat-card-header .mat-card-title {font-size: 24px;}
.account-container .logo{margin-bottom: 24px;text-align: center;}
.account-container .mat-card-header-text {margin: 15px 0px;}
.account-container .account-link{font-size: 14px;}
.account-link a{
  color: #0067b8;
  &:hover,&:focus{color: #666;text-decoration: underline;}
}
.account-container .button-box{width: 100%;display: flex;}
.account-container .account-btn{margin-left: auto;background: #0067b8;width: 108px;letter-spacing: 1px;}
.signup-form  .mat-card-header .mat-card-title {font-size: 30px;}
.form .mat-icon {font-size: 16px;color: #0067b8;}
.form .mat-icon-button {font-size: 25px !important} 

//snack bar
.error.mat-snack-bar-container{background: #cc0000;color:#ffffff ;}
.success.mat-snack-bar-container{background: rgb(14, 114, 207);color:#ffffff ;}
.info.mat-snack-bar-container{background: #fff265;color:#000000 ;}

//nav bar
.navbar{
display: flex;
flex-direction: row;
flex-grow: 0;
flex-shrink: 0;
overflow: visible;
align-items: center;
justify-content: start;
padding: 16px 8px;
background-color: rgb(224, 250, 255);
color: rgb(14, 114, 207);
}
.profile-photo{
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  background: transparent;
  border: none;
  border-radius: 50%;

  &:hover::before,&:focus::before
  { content: '';top: 0;right: 0;bottom: 0;left: 0;background: #6b5f5f2a;position: absolute;border-radius: 50%;}
}
.profile-photo img{height: 100%;border-radius: 50%;width: 100%;max-width: 40px; max-height: 40px;}
.profile-name h3{font-size: 16px;font-weight: 400;}
.profile-name{padding: 8px 16px;}
.more-setting{margin-left: auto;margin-right: 16px;}
.set-status{background: transparent;border: 0;color: rgb(14, 114, 207);padding: 0;font-size:12px;
&:hover,&:focus{color: #000}
}
//form
.form-container{max-width: 800px;margin: 0 auto;}
.max-100{width: 100%;}
.example-radio-group {display: flex;flex-direction: row;margin: 5px 16px;align-items: flex-start;}
.example-radio-button { margin: 5px;}
.ml-16{margin-left: 16px;}
//chat-room
.chat-room-header{position: relative; display: flex;flex-direction: row;flex-grow: 0;flex-shrink: 0;overflow: visible;align-items: center;align-self: stretch;justify-content: start;height: 56px;background-color: rgb(255, 255, 255);padding-left: 20px;padding-right: 20px;border-bottom: 1px solid rgb(225, 225, 225);}
.user-chat-profile{display:flex;background: transparent;border: none;align-items: center;}
.chat-user-name{padding: 0px 12px;text-align: start;font-size: 12px;}
.chat-user-name-heading{font-size: 16px; line-height: 20px;}
.user-chat-profile .chat-room-name span{margin-top: 8px;}
.chat-profile-img{height: 40px;width: 40px; border: 1px solid #c5e7e7;border-radius: 50%;}
.chat-room .user-chat-search{margin-left: auto;}
.chat-room .chat-video-call{margin: 0 16px 0;}

.chat-room{height: 100%;background: #fff;}
.chat-room .chat-room-content{height: calc(100% - 155px );padding: 10px 24px;background: #fff;  overflow-y: auto;margin: 0 10%;}
.chat-room .input-area{margin: 0 10%;}
.chat-span-active-user{
  background: #ccf7ff;
  padding: 10px 37px 30px 10px;
  border-radius: 10px 10px 0 10px;
  margin-left: auto;
  max-width: 70%;
  text-align: justify;
  position: relative;
}
.chat-span-other-user{
  background: #f1f1f1;
  padding: 10px 37px 30px 10px;
  border-radius: 0px 10px 10px;
  max-width: 70%;
  text-align: justify;
  position: relative;
}
.chat-span-li{
  margin: 30px 0;
  display: flex;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.2px
}
.sentdate{
  font-size: 12px;
  position: absolute;
  top: -20px;
  left: 0px;
}
.err{
  color: #f00;
  text-align: justify;
}
// .text-chat{margin: auto;}
.chat-span-active-user .sentdate{right: 0px;left: auto;}
.chat-room .mat-form-field-appearance-outline .mat-form-field-wrapper {margin: 0 0;}
.chat-room .mat-form-field-wrapper {padding-bottom: 0;}
.chat-room li{list-style: none;}
.chat-span-user{display: flex;align-items: end;}
//home-page
.home-page-window{display: flex;width: 100%;height: 100vh;}
.chat-list-div{width: 322px;flex-grow: 0;flex-shrink: 0;background-color: rgb(255, 255, 255);border-right: 1px solid #00000084 ;}
.chat-boat{width: 100%;}
//lsit
.chart-button-list{
  display: flex;align-items: center;padding: 4px 8px;}
.user-list-last-time{margin-left: auto;}
.user-chat-profile{padding: 4px 14px;height: 56px; width: 100%;}

.myprofile-img{max-width: 300px;max-height: 300px;width: 100%;height: 100%;background: cornflowerblue;}
.user-deatils p{font-size: 16px;padding: 8px 0px ;border-bottom: 1px solid  rgb(14, 114, 207);display: flex;}
.user-deatils span{width: 100%;}
.edit-my-profile{display: flex;justify-content: center;padding: 10px 0px;}
.chat-room .mobile-view-button{display: none;}
.search-div{padding: 0px 16px;}
//histroy date
.history-date{text-align: center;
background: antiquewhite;
padding: 13px 10px;
font-size: 18px;
max-inline-size: fit-content;
margin: auto;
}
.mat-form-field-appearance-outline .mat-form-field-outline { color: rgb(0 0 0);}
.back-btn{margin-right: auto;}
/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1399px) { }
@media (max-width:1199px) { }
@media (max-width:991px) { }
@media (max-width:767px) {
.chat-room .mobile-view-button{display: block;}
.chat-boat{display: none;}
.chat-list-div{width: 100%;}
.hide .chat-list-div{display: none;}
.hide .chat-boat{display: block;}

 }
@media (max-width:575px) { }